body, html{
    height:100%;
}
#img{
    background-image:url('../images/food.jpeg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#base{
    
    border-radius: 50px;
    padding: 20px; 
}  






