{% extends 'base.html' %} 
{% block content %}

<div class="row mx-auto">
    
        <div class="col">
            {% if query %}
            <h4>Searched for {{ query }}</h4>
            {% endif %}
            <hr>
        </div>
        
  </div>  

<div class="row mx-auto">
    {% for obj in object_list %}
    <div class="col">
        
        {% include 'products/snippets/card.html' with instance=obj %} 
        {% if forloop.counter|divisibleby:3 %}
    </div>
</div>
<div class="row mx-auto">
    <div class="col-12">
        <hr/>
    </div>
    {% else %}
</div>
{% endif %} 
{% endfor %}
</div>


{% endblock %}