{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="card">
    <div class="row">
        <div class="col-md-3 col-sm-3">
    
            
                <img src="{% static 'img/lukas.jpg' %}" width=350 height=200>
                    <h4> Ramolin Leomarid</h4>
                    <h5>
                        <strong> Website Designer </strong>
                    </h5>
                    <p>
                        Pellentesque elementum dapibus convallis.
                    </p>
                    <hr />
                    <a href="#" class="btn btn-danger btn-sm">
                        <i class="fa fa-user-plus"></i> &nbsp;Profile + </a>
                
            
        </div>
    
        <div class="col-md-9 col-sm-9">
          
    
        </div>
    </div>
</div>
{% endblock %}