{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'contact' as contact_url %}
{% url 'products:list' as products_url %}
{% url 'logout' as logout_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'cart:home' as cart_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
     
        <div class="container">
        <a class="navbar-brand" href="#">{{ brand_name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == home_url %}active{% endif %}">
                <a class="nav-link" href="{% url 'home' %}">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        
            <li class="nav-item {% if request.path == about_url %}active{% endif %}">
                <a class="nav-link" href="{{ about_url }}">About</a>
            </li>
            
            <li class="nav-item {% if request.path == contact_url %}active{% endif %}">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="nav-item {% if request.path == products_url %}active{% endif %}">
                <a class="nav-link" href="{{ products_url }}">Food Menu</a>
            </li>
            
            {% if not request.user.is_authenticated %}
            <li class="nav-item {% if request.path == login_url %}active{% endif %}">
                <a class="nav-link" href="{{ login_url }}">Login</a>
             </li>   
            <li class="nav-item {% if request.path == register_url %}active{% endif %}">
                <a class="nav-link" href="{{ register_url }}">Register</a>
            </li>
            {% endif %}
            <li class="nav-item {% if request.path == cart_url %}active{% endif %}">
                <a class="nav-link" href="{{ cart_url }}">{{ request.session.cart_items }} <i class="fa fa-shopping-cart"></i></a>
            </li>
            
        </ul>
        {% if request.user.is_authenticated %}
        {% if request.session.rolename == "cook" %}
        <form action = "{% url 'upload:product' %}" method="GET">
        <button type="submit" class="btn btn-light btn-sm ml-auto mr-3">
            Upload
        </button>
        </form>
        {% else %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-light btn-sm ml-auto mr-3" data-toggle="modal" data-target="#exampleModal">
            Wanna Sell?
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Become Cook</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Click on Yes to become a cook and sell your products right now
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">No</button>
                    <form action="{% url 'roles:role' %}" method="GET">
                    <button type="submit" class="btn btn-success btn-sm">Yes</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
        {% endif %}
        {% endif %}
       
        
        <form method="GET" action="{% url "search:query" %}" class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success btn-md my-2 my-sm-0" type="submit">Search</button>
    </form>
    
    
    </div>
    </div>
    <div>
         {% if request.user.is_authenticated %}
        <h5 class="text-white" style="display : inline;">Hello! </h5>
        <span class="mr-0">
            <a class="dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h5 style="display : inline;"> {{ request.user }}</h5>
                <i class="fa fa-lg fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                
            </div>
        </span>
        {% endif %}
   
    </div>
     
</nav>