
<div class="card bg-dark text-white" style="width: 14rem; height: 20rem;">
    {% if instance.image %}
    <img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title }}" height="145" width="100">
    
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ instance.title }}</h5>
        <p class="card-text">{{ instance.description|truncatewords:3 }}</p>
        <p class="card-text">Chef - {{ instance.user }}</p>
        <a href="{{ instance.get_absolute_url }}" class="btn btn-primary btn-sm">View</a>
    </div>
</div>

